@charset "utf-8";
body {
  background-color: #111111;
  color: #ffffff;
}
.ui-state-default, .ui-widget-content .ui-state-default,
.ulockd-blog-post1 .post-footer,
.ulockd-testimonial,
.header-middle, 
.ulockd-fservice, 
.ulockd-team{
  background-color: #111111;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #eeeeee !important; }
  h1 small,
  h1 .small, h2 small,
  h2 .small, h3 small,
  h3 .small, h4 small,
  h4 .small, h5 small,
  h5 .small, h6 small,
  h6 .small,
  .h1 small,
  .h1 .small, .h2 small,
  .h2 .small, .h3 small,
  .h3 .small, .h4 small,
  .h4 .small, .h5 small,
  .h5 .small, .h6 small,
  .h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #eeeeee !important; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
  .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
    color: #eeeeee !important; }
 p,
 .ulockd-blog-post1 .post-details .post-submitter,
 .ui-state-default,
 .ui-widget-content .ui-state-default{
 	color: #ffffff !important;
 }
a {
  color: #eeeeee !important; }
  .ulockd-fservice-box{
 	border: 1px solid darkmagenta;
 }
 .bx-wrapper{
 	border-color: darkmagenta !important;
 }
 .ulockd-btn-white{
 	color: darkmagenta !important;
 }
 .ulockd-srvcs-column,
 .bx-wrapper,
 .ulockd-testimonial-carousel .item .media,
 .about-box2,
 .ulockd-srvc-column,
 .ulockd-fservice-box,
 .ulockd-faq-box .panel-body,
 .post-dates,
 .ulockd-blog-post1 .post-details,
 .ulockd-partner{
 	background-color: darkmagenta !important; 	
 }
 .ulockd-booking-form{
 	background-color: rgba(0,0,0, .5);
 }
 .ulockd-blog:before,
 .ulockd-testimonial-divider:before{
 	background-color: rgba(0,0,0, .7);
 }
 .service-two::before,
 .ulockd-service-three:before{
 	background-color: rgba(0,0,0, .8) !important;
 }
 .ulockd-about-two:before{
 	background-color: rgba(0,0,0, .9) !important;
 }